[2020-09-11 22:26] adrianjmejias opened #19 "There should be a way to access the token in a plain js file"
I'm trying to add an interceptor to an axios instance

[code]
It seems like a reasonable use case to me but I get the following error.

![image](https://user-images.githubusercontent.com/17663584/92977908-3f09d900-f45c-11ea-8cb9-8b65a71d70ce.png)

[2020-09-12 05:11] darkmatter18 commented on #19
@adrianjmejias React doesn't allow to use hooks outside component. You have to use `useAuthHeader` inside components.

[2020-09-12 05:12] adrianjmejias commented on #19
yes, but shouldn't there be a way to access the token in plain js?

[2020-09-12 05:16] darkmatter18 commented on #19
@adrianjmejias As much as, I read the React docs, I know, there's no way. But if someday I'll find one, I surely implement that.

[2020-09-13 02:21] #19 closed

[2020-09-15 16:10] dd8888 opened #25 "Cookies are not being stored"
Hey, I'm trying to implement the useIsAuthenticated() method like this:

`const isAuthenticated = useIsAuthenticated();
    if (isAuthenticated()) {
    return (
      <Switch>
        <Route path="/perfil" component={Perfil}></Route>
        <Redirect to="/perfil" />
      </Switch>
    );
  } else {
    return (
      <Switch>
        <Route path="/login" component={Index} />
        <Redirect t

[2020-09-15 16:49] dd8888 commented on #25
I just tried using `authStorageType="localstorage"` and it works, but if I try it with cookies it doesn't.

[2020-09-15 17:04] dd8888 commented on #25
I'm using `AuthProvider` like this:
`<AuthProvider
      authStorageType={'cookie'}
      authCookieName={'_a'}
      authTimeCookieName={'_at'}
      stateCookieName={'_s'}
      cookieDomain={window.location.hostname}
      cookieSecure={window.location.protocol === 'http:'}

And it seems like cookies are not being stored.

[2020-09-16 07:45] darkmatter18 commented on #25
@dd8888 Thanks for your issue. I figured out that the docs are actually `deprecated`.
Please use

[code]

as your AuthProvider. I hope this will fix the issue. Thanks a lot

[2020-09-16 09:44] dd8888 commented on #25
I just tried that and same error, don't know why but cookies are not being stored. That's why if I refresh the page I get redirected to the login page.

[2020-09-16 10:54] darkmatter18 commented on #25
@dd8888 Let me check, and I'll try to fix the error

[2020-09-16 11:06] dd8888 commented on #25
How should I set the cookieDomain while working on localhost? Maybe that's the problem.

[2020-09-16 11:52] darkmatter18 commented on #25
Hey, @dd8888 I just fixed the issue in version 1.2.0 Please install that, and check if that working

[2020-09-16 12:05] dd8888 commented on #25
Same problem. Seems like storing cookies while working on localhost is a known issue.

[2020-09-17 06:26] darkmatter18 commented on #25
for cookieDomain, use `cookieDomain={window.location.hostname}`

[2020-09-17 10:48] dd8888 commented on #25
Same problem. If you need anything else just @ me.

[2020-09-17 12:09] darkmatter18 commented on #25
@dd8888 Please let me see your `AuthProvider` with it's props

[2020-09-17 12:12] dd8888 commented on #25
`<AuthProvider
      authStorageType={'cookie'}
      authStorageName={'_auth_t'}
      authTimeStorageName={'_auth_time'}
      stateStorageName={'_auth_state'}
      cookieDomain={window.location.hostname}
      cookieSecure={window.location.protocol === 'http:'}

      <Router>
        <Routes />
      </Router>
    </AuthProvider>`

It's the same, I only changed "https" to "http". I have been

[2020-09-17 17:17] darkmatter18 commented on #25
@dd8888 Hey, I tested many times so far and got nothing. So I think your codebase has some issues. I just created an Example repo, https://github.com/react-auth-kit/Example . So please check this up and then tell me, if you have any problem.

[2020-09-17 23:07] dd8888 commented on #25
Ha! It worked! I think that the main problem was setting the `window.location.protocol` to http instead of https (even tho localhost is http right?) Anyway great job and sorry for the inconvenience.

[2020-09-17 23:07] #25 closed

[2020-09-24 00:12] codejeet opened #45 "Hook to update local state after sign in"
**Is your feature request related to a problem? Please describe.**
Sometimes it is useful to have user state that is not sent on sign in, but rather at the users request on another page. However, it doesn't seem possible to globally update new values after the useSignIn() function is called, unless you just call the useSignIn() hook with the current values + updated ones.

**Describe the solution

[2020-10-02 10:45] darkmatter18 opened #55 "Fix Eslint Errors on CI CD pipeline"
Fix the errors produce by Eslint. To check if the error exists, run `npm test`.

[2020-10-02 10:53] darkmatter18 opened #56 "Make a developer guideline for docs"
- Make a contribution procedure for documentation.
- Create the guideline on [CONTRIBUTING.md](https://github.com/react-auth-kit/react-auth-kit/blob/master/CONTRIBUTING.md).
- Only change the `CONTRIBUTING.md`

**Guideline:**

- The docs are based on [Mkdocs](https://www.mkdocs.org/)
- The docs use the [Mkdocs Material Theme](https://squidfunk.github.io/mkdocs-material)

[2020-10-03 07:54] aneeshrelan commented on #55
Can I take this up?

[2020-10-06 06:55] dotslash21 opened #63 "Demo code in docs not working"
**Describe the bug**
The demo code for **Auth User Data** and **Auth Header** hooks are not working. After some tinkering, I found out that both the `useAuthUser` and `useAuthHeader` returns a function, and on calling those functions we get the actual data we need.

**To Reproduce**
Steps to reproduce the behavior:
1) Run the demo code for the hooks method.

**Expected behavior**
I'm not sure abou

[2020-10-06 06:56] dotslash21 commented on #56
@darkmatter18, I'll work on this one.

[2020-10-06 07:08] darkmatter18 commented on #63
@dotslash21 `useAuthUser` and `useAuthHeader` are initially created in this manner with a signature of `useAuthHeader(): () => (string)` and ` useAuthUser(): () => object | null`.
I am thinking to change them to `useAuthHeader(): string` and ` useAuthUser(): object | null`, if you can then please do, else I'll do them later. Thanks a lot

[2020-10-06 07:08] darkmatter18 commented on #56
@dotslash21 Assigned!! Go for it

[2020-10-06 07:20] dotslash21 commented on #63
@darkmatter18 I'll see if I can make this change. BTW awesome work on creating this project, saved a lot of time for me.

[2020-10-06 08:41] #55 closed

[2020-10-06 10:39] darkmatter18 commented on #45
@codejeet Can you please explain, why you think this feature is needed?

[2020-10-06 10:40] darkmatter18 commented on #63
@dotslash21 Thanks a lot for your kind review

[2020-10-06 11:25] darkmatter18 opened #67 "Complete documentation for functions for hooks files"
- This issue has no `code change`
- You only have to write `documentations`
- `Documentations` should have the standard of [JsDoc](https://jsdoc.app/)
- Don't add `param types` and `return types`, as we are using typescript
- Only Add documentation for `useAuth.ts`, `useAuthHeader.ts`, `useAuthUser.ts`, `useIsAuthenticated.ts`, `useSignIn.ts` and `useSignOut.ts`

Please read the [CONTRIBUTING.md](

[2020-10-06 13:19] Hardik0307 commented on #67
@darkmatter18, Like to contribute!

Assign me.

[2020-10-06 13:21] darkmatter18 commented on #67
@Hardik0307 Assigning to you. Go for it

[2020-10-06 16:05] darkmatter18 opened #69 "Complete documentation for functions for Higher Order Component files"
- This issue has no `code change`
- You only have to write `documentations`
- `Documentations` should have the standard of [JsDoc](https://jsdoc.app/)
- Don't add `param types` and `return types`, as we are using typescript
- Only Add documentation for `withAuthHeader.tsx`, `withAuthUser.tsx`, `withIsAuthenticated.tsx`, `withSignIn.tsx` and `withSignOut.tsx`

Please read the [CONTRIBUTING.md](http

[2020-10-07 02:38] #67 closed

[2020-10-07 03:08] Hardik0307 commented on #69
@darkmatter18 same as #67

Want to work on this.

[2020-10-07 03:12] darkmatter18 commented on #69
@Hardik0307 Go for it

[2020-10-07 08:54] #63 closed

[2020-10-07 08:57] #69 closed

[2020-10-07 13:53] #56 closed

[2020-10-14 03:19] codejeet commented on #45
My login flow is oauth to create a token, then redirect to another form page to fill in more user information. I call useSignIn after the oauth login, then I have to call useSignIn again after the form submission with new and old values in order to update the user state to the new values. This kind of authentication flow is not uncommon, and we often want detailed user state to persist across page

[2020-12-08 22:26] shackra opened #144 "authkit.arkadip.co is down"
**Describe the bug**
the site where the documentation is host is no longer available

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://authkit.arkadip.co/
2. the site won't load.

**Expected behavior**
The site loads and you can read the documentation.

[2020-12-13 13:13] darkmatter18 commented on #144
@shackra Thank you for your feedback. It's my fault. I changed the name, but forget to change it.

The new name is https://authkit.arkadip.me/

Sorry for your inconvenience.

[2020-12-13 13:14] #144 closed

[2020-12-16 02:52] shackra opened #161 "Type 'Element' is not assignable to type '...'"
**Describe the bug**
Wrong type for component children

**To Reproduce**
Steps to reproduce the behavior:
1. Put some React Element component inside `AuthProvider`

**Expected behavior**
`AuthProvider` should accept type `React.ReactNode` per https://stackoverflow.com/a/57253387/2020214

**Screenshots**
None, but I have details of the error:

[code]

[2020-12-16 04:38] shackra opened #162 "Means for refreshing your tokens"
It seems the library have no means for you to refresh the user's tokens. My backend returns a refresh token along with an access token.

**Describe the solution you'd like**
means for receiving the tokens you have stored to do the token refreshing.

[2020-12-17 17:20] darkmatter18 commented on #161
@shackra Thanks for the issue. I will resolve the issue shortly.

[2020-12-17 17:22] darkmatter18 commented on #162
@shackra Can you please tell me, how you are refreshing the token so that I can understand it deeply.

[2020-12-17 17:31] shackra commented on #162
sure.

What I do on my project is loading the refresh token (is a token like the access token but with some values changed that are checked on my backend to ensure it is different from the access token) in the `Authorization` header of a GET request to my endpoint, the backend returns the same type as that when the user provides his credentials to login.

People may do this different, tho.

[2020-12-17 17:33] #161 closed

[2020-12-17 17:35] shackra commented on #162
on the other hand, in the same component where I check if the user is logged or not, I should do the checking there and do the refreshing there, thus I just use your `signIn` as normal. My issue with this approach is that react-auth-kit provides means for storing your access token only, thus if I want to keep the refresh token around I need to build my own solution for that.

[2020-12-17 17:47] darkmatter18 commented on #161
@shackra Issue is solved in Release 1.3.2

[2020-12-18 04:01] shackra opened #165 "Uncaught Error: Invalid hook call"
**Describe the bug**
I believe `AuthProvider` is doing something wrong with hooks.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-auth-kit-invalid-hook-call-npljx
2. See it fail

**Expected behavior**
the package to work as normal

[2020-12-18 17:33] darkmatter18 commented on #165
Fixed in v1.3.4

Added support for React 17

Thanks for the bug

[2020-12-18 17:34] darkmatter18 commented on #165
If the issue exists, please let me know, otherwise please close the issue

[2020-12-18 20:34] shackra commented on #165
Edited the dependencies on https://codesandbox.io/s/react-auth-kit-invalid-hook-call-npljx and the component shows, I think the issue is fix.

[2020-12-18 20:34] #165 closed

[2020-12-20 04:02] #45 closed

[2020-12-20 21:50] shackra commented on #162
hey @darkmatter18 thanks for your hard work!

in your example on your documentation I read the following snippet of code:

[code]

the `authToken` and `expireAt`, where do they come? are they the same as those you pass to `useSignIn()`?

I was wondering this since `useSignIn` stills receives one (1) token instead of, say, two (1 for access and 1 for refreshing). Thoughts?

[2020-12-22 06:30] darkmatter18 commented on #162
Hey @shackra

I noticed that actually did not complete the issue, as the concept of the refresh token is missing there. But I completed the stuff.

I am requesting you to check the pre-patch version `v1.4.1-0`

I already tested the codebase. But as the testing is not completed yet, I thought it would be better to leave it on the pre-version.

I am also requesting, that if you can test the code. if

[2020-12-23 04:22] shackra commented on #162
@darkmatter18 please re-open this issue

I found out that the expirations of the access and refresh tokens are waaaaaaaay beyond the future:

[code]

my backend [already returns the expiration time as a Unix timestamp](https://pkg.go.dev/github.com/gbrlsnchs/jwt/v3#Time):

[code]

But, passing the values as-is may be my fault tho.

I also discovered that the data of the refresh token disappears af

[2020-12-23 10:26] darkmatter18 commented on #162
Hey @shackra

Please test the `v1.4.3-0`. Hope this has fixed all the errors

[2020-12-23 17:48] shackra commented on #162
Issue fix! After login and refreshing manually the page the refresh token is kept in the browser!

[code]

But please review the documentation, I believe the full examples aren't that "real world" accurate.

[2020-12-23 17:51] shackra commented on #162
but you can ship this as it is currently is, IMHO

[2020-12-24 13:39] darkmatter18 commented on #162
Good to hear that it's working!

Can you help me to polish the documentations? It will be so helpful to me

[2020-12-24 16:22] shackra commented on #162
Sure thing, I can take a look to my own code and polish your documentation
accordingly.

El jue, 24 de dic. de 2020 a la(s) 07:39, Arkadip Bhattacharya (
notifications@github.com) escribió:

[2020-12-27 17:19] #162 closed

[2021-01-05 12:40] darkmatter18 commented on #162
Hey @shackra

It becomes so long. Do you have any updates?

[2021-01-05 14:21] shackra commented on #162
no, I'm sorry, but Christmas and New Year came and pass

[2021-01-05 15:43] shackra commented on #162
I could work something tonight (in 9 hours)

[2021-01-06 07:45] darkmatter18 opened #191 "Tiding the Refresh Token documentation"
React Auth Kit introduced the Refresh Token feature from `v1.4.3-0`, but the docs are not completed yet.

This issue is for completing the refresh token documentation.

[2021-01-06 07:48] darkmatter18 commented on #162
Please follow the issue #191

[2021-01-06 16:06] shackra commented on #191
Okay, okay, I really need to set some time aside for this one

[2021-01-13 17:07] philbert440 opened #197 "dist/index.js"
lines 724-725 values and keys are swapped

[2021-01-13 17:20] philbert440 commented on #197
getCurrentAuthState()

[2021-01-13 17:49] philbert440 opened #198 "useRefreshToken() is returning the null authState on initial load even when cookies exist"
**description**
useRefreshToken is returning the default empty/null authState on initial load even when cookies exist

**Steps to reproduce the behavior:**
1. signin gets tokens stores as cookies everything works as logged in
2. refresh the page, gets kicked to login page despite having a valid access token in the _auth_t cookie

**Expected behavior**
use the cookies and return the authState for t

[2021-01-14 12:51] darkmatter18 commented on #197
Can you please tell me what's happening, in detail. If you can give me an example, please share

[2021-01-14 12:52] darkmatter18 commented on #198
Can you please share with me, your `AuthProvider` and `signin` code

[2021-01-14 12:52] darkmatter18 commented on #191
@shackra Any update?

[2021-01-14 13:56] philbert440 commented on #197
getCurrentAuthState().authToken returns 'Bearer' and getCurrentAuthState().authTokenType returns the token.

[2021-01-14 13:58] philbert440 commented on #198
[code]

[code]

[2021-01-14 14:28] shackra commented on #191
no thus far, sorry for the delay

[2021-01-14 14:53] philbert440 commented on #198
I've got a temporary work around in place on my implement that resets the state from the cookies if the refresh token exists. Ideally thought this would be handled in the useRefreshToken() hook...

[code]
I also had to modify signout a bit to get it to clear out the cookie, I believe this is due to my workaround above

[code]
Let me know if you need anymore info, or assistance with the changes or

[2021-01-15 05:55] darkmatter18 commented on #197
Thanks for the details. Fixing it soon

[2021-01-15 06:19] darkmatter18 commented on #197
Fixed in 8fc03f5. use V1.4.4 or later

[2021-01-15 06:19] #197 closed

[2021-01-15 16:03] philbert440 commented on #191
I would appreciate this too!

[2021-01-16 06:17] darkmatter18 commented on #198
Hey @philbert440, Thanks for your feedback.

I am not sure, but I think you are altering the current auth states.
Can you use the `getCurrentAuthState()` method to get the auth information and `getCurrentRefreshToken()` to extract the current refresh Token.

Also for sign out use `useSignOut()`, if the problem exists or if you need any help, please let me know. We'll solve the issue together.

Tha

[2021-01-16 16:47] philbert440 commented on #198
I've set up a codesandbox, where we can work on it.
https://codesandbox.io/s/nervous-pasteur-ewrfc
username: testuser
password: test@123

[2021-01-16 17:33] philbert440 commented on #198
it looks like its creating a 2nd set of cookies instead of modifying the existing cookies.

[2021-01-18 15:50] shackra commented on #191
Okay, I will do a small backend to deploy on Heroku and give life to the documentation. There is no public REST APIs that simulate authentication thus one must be provided.

[2021-01-19 04:55] imle opened #204 "Support react-router v6"
react-router v6 is in beta and will likely be released soon. After trying to use react-auth-kit with the new implementation, it appears to not work out of the box.

I am aware this is possibly a significant amount of work as there are breaking changes, but it would be great if this was supported.

I am willing to help if this is something that would be welcome.

[2021-01-19 12:34] darkmatter18 commented on #198
I have tested the sandbox, and yea it is creating 2 sets of cookies, but the real fact is I am really not sure, why is this happening.
My test rig doesn't have this problem.
But I noticed that one set has the domain of `ewrfc.csb.io` and another has the `.ewrfc.csb.io`.

I also tested the whole thing on `localStorage`, but that part is just fine. (Hope it also works for you too 😅)

As the library

[2021-01-19 12:39] darkmatter18 commented on #204
Hey @imle, thanks for this issue. Yes the `react-router v6` is coming soon, but `react-auth-kit` does still not support that.

If you want to help, then it will be so great. 🥇

[2021-01-27 01:24] FabianoFGomes commented on #25
@darkmatter18 and @dd8888
Actually I think this problem is related when 'tokenType' is empty field.
If you remove the 'tokenType' field when using useSignIn -> signIn or set 'bearer (e.g.)' will works well. If you supply the blank 'tokenType' the problem keeps happening.

[2021-01-30 15:15] darkmatter18 commented on #191
Ok. Please do so.

[2021-02-04 15:48] philbert440 commented on #198
I'll try it this weekend

[2021-02-05 14:33] philbert440 commented on #198
I was experimenting with localstorage and I'm seeing similar problems there as well, when I manually refresh the localStorage.setItem('_auth_t') and localStorage.setItem('_refresh_t') are still returning null there as well...

[2021-02-05 14:56] darkmatter18 commented on #198
That's bad to know! I'll try my best to fix the bug. Please give me some time.  I'll give you some updates in a day or two. Thank you.

[2021-02-05 15:01] philbert440 commented on #198
I found the issue, apparently I wasn't using JSON.stringify() when storing the user object to '_auth_state'. Once I fixed that, everything started working as intended. Thanks so much for your assistance along the way, closing the issue.

[2021-02-05 15:01] #198 closed

[2021-02-11 11:48] darkmatter18 commented on #191
@shackra Updates?

[2021-02-11 12:22] shackra commented on #191
None so far, I'm sorry, I need more time

[2021-03-12 05:07] stefanwuthrich commented on #191
is there a chance that this documentation will happen at any time? I would like to help, but I miss understanding how it works so I can't document it. But without I think this really great project will die away.

[2021-03-13 00:03] shackra commented on #191
yeah, sorry, I've been busy trying to come with this done

[2021-03-16 04:25] ryekerjh commented on #191
@shackra I can help with getting the API up on Heroku. Do you have any quick thoughts on what you want that mockup REST API to do?

[2021-03-16 04:28] shackra commented on #191
something that just return a valid JWT with a refresh JWT should do it

[2021-04-11 21:54] nikitapilgrim opened #316 "SSR support"
Do you plan to support SSR?

[2021-04-14 05:25] darkmatter18 commented on #316
Yes, I planed it for future

[2021-05-04 01:45] jnthnk opened #334 "useAuthUser doesn't return an object"
The hook useAuthUser doesn't return an object as described in the [docs](https://authkit.arkadip.me/authdata/).

It returns a function that I have to run in order to get the object.

That is the desired functionality?

Thanks.

[2021-05-06 10:20] PatzMatias commented on #334
Yes, I just used it that way. The docs didn't tell that.. If you're using TS you might also face a TS problem about accessing properties the returned object because the inferred object is a blank object.

[2021-05-06 13:14] darkmatter18 commented on #334
@jnthnk Yea, That's the desired functionality. I created that to match with other Hooks, if you notice, all hooks have the same `function inside a function property.
But yeah, the docs are wrong. I'll change that soon. If you guys can, then please do.
@PatzMatias Saw your PR, will marge soon

[2021-05-09 03:12] darkmatter18 commented on #334
Docs fixed on 1.4.8

[2021-05-09 03:12] #334 closed

[2021-05-22 07:53] darkmatter18 opened #357 "Divided Code base"
## Milestone
Create a divided code base, to make the package smaller and efficient.

## Objective:
[code]
For now, `react-auth-kit` only supports the first import statement, which is not that efficient, as includes the whole codebase to the front.

## Branch to work
`code-splitted`

## Similar packages
1. material-ui
2. emotion

## Progress
- Tried to do using rollup, but not working

[2021-05-27 06:14] #357 closed

[2021-05-28 06:34] #191 closed

[2021-06-20 10:31] #316 closed

[2021-07-26 13:28] msalahz opened #459 "Support React Router v6"
Currently is supporting react-router v5 but v6 has been in beta & stable for a while and I'm already using it for production so I will be appreciated if react-auth-kit allowed utilizing

Here is the [migration guide](https://github.com/ReactTraining/react-router/blob/dev/docs/advanced-guides/migrating-5-to-6.md)

[2021-07-31 16:36] prashant19 opened #473 "On page refresh it's deleting cookie"
**Describe the bug**
On page refresh it's deleting my cookie and not able to use privateroute and Authentication.

Node version :14.17.1
React: "^17.0.2",
React-auth-kit": "^1.4.14",

[2021-08-02 03:35] darkmatter18 commented on #473
Hey, It's so sorry so here  such an issue, please send me your routers file. where you put your BrowerRouter.
Also please check the standard example https://github.com/react-auth-kit/react-auth-kit/tree/master/examples/create-react-app

[2021-08-03 07:20] prashant19 commented on #473
Hi,

We got the same issue in your create-react-app example. After login when we reload the page the cookie is getting deleted.

The expected behaviour should be once you logged-in and cookie is valid so we should be able to access all the secure pages, either by reloading page window or navigating though links.

Also we found the js-cookie dependency issue in create-react-app example, to resolve

[2021-08-03 09:24] darkmatter18 commented on #473
I got the issue. Fixing the issue soon

[2021-08-03 09:39] darkmatter18 commented on #473
Please update `react-auth-kit` to `1.4.16`. It will fix the issue. Thanks

[2021-08-03 10:11] prashant19 commented on #473
I m still facing the same issue with   "react-auth-kit": "^1.4.16".
The expected behaviour should be once you logged-in and cookie is valid so we should be able to access all the secure pages, either by reloading page window or navigating though links.

[2021-08-03 11:35] darkmatter18 commented on #473
I tested the create-react-app example, and that worked just fine. So I am not sure, what's happening with your project. See the example, if you missed something. so the other side, I am also trying to hunt more bugs. if exists. Thanks

[2021-09-07 08:35] #473 closed

[2021-10-03 17:38] #459 closed

[2021-10-04 14:21] darkmatter18 opened #575 "Hacktoberfest 2021 🎊🎉"
<p align="center"><img width="70%" src="https://hacktoberfest.digitalocean.com/_nuxt/img/logo-hacktoberfest-full.f42e3b1.svg"/></p>

<h1 align="center">React Auth Kit</h1>

<p align="center">React Auth Kit is delighted to welcome all the Hacktoberfest  2021 participants. 🎉🎊🥳 Make your way to one of the easiest repositories of all Github.</p>

### Before you contribute
- Make sure to read the [READ

[2021-10-04 14:30] darkmatter18 opened #576 "Update the docs"
Documentations play the most critical role for any library when it comes to explaining the developers.

## What to do
- The Job of this issue is to make sure that all the documentation all in place and developer-friendly.
- Try to check the docs for any errors.
- Any typo correction is also a valid Pull Request.

## Where to do
- Docs are located in `docs` directory
- You can also update any `.md`

[2021-10-04 14:37] jeetsdev commented on #576
I can work on README.md, Can I go for it.

[2021-10-04 14:44] darkmatter18 opened #577 "Add Unit Test Case for TokenObject.ts"
## What to do
- The job is to add unit test cases for the `TokenObject.ts` file.
- There are 2 functions
    1. initialToken()
    2. syneTokens()
Adding test cases for these 2 functions should cover everything.
If it doesn't cover something, don't panic, simply make a PR, we will work on that.

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`. Jest sh

[2021-10-04 14:56] darkmatter18 opened #578 "Add unit test for actions.ts and reducers.ts"
## What to do
- The job is to **_add unit test cases_** for the `/src/utils/actions.ts` and `/src/utils/reducers.ts` files.
- You have to make a react component inside the test file to simulate the test.
- Make sure that you can at least achieve **_60%_** coverage.

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`.
- For React component simulation, we

[2021-10-04 15:02] tumit commented on #577
Can I take this issue ?

[2021-10-04 18:39] atrievel commented on #578
@darkmatter18 - I'd love to take this one if it is still available, thnaks!

[2021-10-05 06:02] #578 closed

[2021-10-05 06:28] darkmatter18 opened #588 "Add commit lint guideline in contributing.md"
Our library uses Conventional commit https://www.conventionalcommits.org/en/v1.0.0/ to make sure that the commit messages stay perfect.

## What to do
- The Job of this issue is to refactor the `CONTRIBUTING.md` file
- Add a section as `Conventional Commit`
- Under the section add all necessary rules in an unordered list.
- You'll get any library defined rule in `commitlint.config.js`

## Where to

[2021-10-05 10:54] scr2em opened #589 "`signIn` hook sets `expiresIn` for both `token` and `refreshToken`"
**Describe the bug**
while using `authType = 'cookie'`
`signIn` hook set `expiresIn` for both `token` and `refreshToken` and totally neglecting `refreshTokenExpireIn`

version used : 1.4.18

**To Reproduce**
1- use
[code]
2- check the cookies expiration date
3- all cookies have the same expiration date

**Expected behavior**
token cookie should expires in 1 month
refreshToken cookie should expires

[2021-10-05 19:51] DarrylBrooks97 commented on #588
Opened a PR here #593 🚀

[2021-10-06 03:30] #577 closed

[2021-10-06 03:31] #588 closed

[2021-10-06 03:35] darkmatter18 opened #594 "Update the Pull Request Template"
Pull request is the most useful thing for making a great PR.

## What to do
- The current PR template is so simple and doesn't carry a lot of information
- The Job of this issue is to update the Pull Request Template.
- Update the pull request template to make it better, and to carry more information.

## Where to do
- Update the `.github/pull_request_template.md` file

## Before you contribute
-

[2021-10-06 03:39] darkmatter18 opened #595 "Write unit test cases for PrivateRoute.ts"
## What to do
- The job is to **_add unit test cases_** for the `/src/PrivateRoute.tsx` file
- Make sure that you can at least achieve **_60%_** coverage.

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`.
- For React component simulation, we library uses `testing-library/react`

## Where to do
- Add the file inside `src/__tests__`  directory
- Name th

[2021-10-06 03:42] darkmatter18 commented on #589
@scr2em I know that there is a bug in the Refresh Token feature. I'm working on it. Sorry for your inconvenience. I'll try to fix it as soon as possible.

[2021-10-06 03:44] jason1985 commented on #594
Hi is it ok if I work on this?

Thanks

[2021-10-06 10:05] scr2em opened #597 "Seasion cookies"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement a `remember me` functionality and needs to store the cookies as session cookies (has no expiration date and automatically deleted when the user close the tab).

**Describe the solution you'd like**
we should have an option to put and expiration date (normal cookie) or not ( session cookie)
I forked the repo

[2021-10-07 04:59] sitek94 commented on #595
Hey there 👋

I think I could find some time over this weekend to take a look at that, is it okay with you? :)

[2021-10-07 05:55] darkmatter18 commented on #595
Yea Sure

[2021-10-08 04:53] #595 closed

[2021-10-08 09:25] #589 closed

[2021-10-08 11:26] darkmatter18 opened #607 "Write unit Test cases for hooks.ts"
## What to do
- The job is to **_add unit test cases_** for the `/src/utils/hooks.ts` file
- Make sure that you can at least achieve **_60%_** coverage.

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`.
- For React component simulation, we library uses `testing-library/react`
- As the file contains hooks, then you might have to install `@testing-libra

[2021-10-08 11:29] darkmatter18 opened #608 "Write unit test cases for AuthProvider"
## What to do
- The job is to **_add assertion statements in unit test cases_** for the `/src/AuthProvider.tsx` file
**_- There are already test cases written. But we need to have more assertion statements._**

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`.
- For React component simulation, we library uses `testing-library/react`

## Where to do
- A

[2021-10-08 11:34] darkmatter18 opened #609 "Need documentation for new refresh token feature"
## What to do
- In #603 new refresh token system is implemented.
- The job is to update the `docs/refreshtoken.md` file.
- It must have to contain all necessary information for a developer.

## Technology
- The library uses `MkDocs` for it's documentation.

## Before you contribute
- Make sure to read the [README.md](https://github.com/react-auth-kit/react-auth-kit/blob/master/README.md) file.
- M

[2021-10-08 11:36] darkmatter18 commented on #597
I removed this from 1.5 update.
@scr2em You can work on it freely. This feature will be taken into consideration in the next release.

[2021-10-13 03:42] ok524 commented on #608
I would like to take this!
May I have your clarification on the file I should work on is `src/__tests__/AuthProvider.test.tsx`, am I right?

I am going to add an assertion using `expect()` below `// TODO: assertion statements needed` and insert a `<AuthContextConsumer />` inside the `render()` to retrieve value of `authState.isSignIn`.

[2021-10-13 08:58] katieraby commented on #607
PR: https://github.com/react-auth-kit/react-auth-kit/pull/618

[2021-10-14 16:45] #607 closed

[2021-10-14 17:06] #608 closed, assigned to nobody

[2021-10-18 13:12] #609 closed, assigned to darkmatter18

[2021-10-20 22:04] xterr opened #643 "AuthProvider refresh callback is called multiple times per second"
**Describe the bug**
AuthProvider refresh callback is called multiple times per second

**To Reproduce**
Steps to reproduce the behavior:
1. Set refresh property using createRefresh method
2. return the refresh object populated using existing values, except the `*expiresIn` properties which can be set to 10 (minutes), for example
3. add a console.log just before the return of the refresh object
4.

[2021-10-22 04:20] darkmatter18 commented on #643
Can you show me your codebase, especially the createRefresh Function

[2021-10-24 14:20] darkmatter18 opened #649 "Documentation"
Documentations play the most critical role for any library when it comes to explaining the developers.

## What to do
- The Job of this issue is to make sure that all the documentation all in place and developer-friendly.
- Try to check the docs for any errors.
- Any typo correction is also a valid Pull Request.

## Where to do
- Docs are located in the `docs` directory

## Before you contribute
-

[2021-10-28 09:20] darkmatter18 opened #663 "Add unit test cases for Hooks"
## What to do
- The job is to **_add unit test cases_** for the `/src/Hooks/` files.
- Make sure that you can at least achieve **_60%_** coverage.

## Technology
- Programming Language uses: `TypeScript`
- For testing, the library used `Jest`.
- For React component simulation, we library uses `testing-library/react-hooks`

## Where to do
- Add the file inside `src/__tests__/Hooks`  directory

## B

[2021-10-30 07:57] #663 closed

[2021-11-02 14:56] #575 closed

[2021-11-02 14:56] #649 closed

[2021-11-11 08:51] mrLob opened #680 "signIn authState prop is required"
### In documentation authState describe like "optional" but in config is required.
![image](https://user-images.githubusercontent.com/13090002/141266890-c43ef93b-96ac-483d-bbbd-2a95c674d29b.png)
### IDE error
![image](https://user-images.githubusercontent.com/13090002/141266615-6de6812a-cfb9-4911-be93-a59955e1a9c2.png)
### In lib
![image](https://user-images.githubusercontent.com/13090002/14126734

[2021-11-14 02:36] reovilsayed opened #683 "Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it."
When I was trying to use useAuthHeader I get this error.  Can you please tell the solution?
Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it.

[2021-11-26 14:40] vlev322 commented on #643
@darkmatter18 Hello, any updates about this issue?

[2021-11-28 15:41] Sergeant227 commented on #683
Because you're trying to display the function itself. You have to call it and then display the result.

[2021-12-07 15:15] #680 closed

[2021-12-09 04:12] #683 closed

[2021-12-09 04:13] #643 closed

[2022-01-02 02:25] #597 closed

[2022-01-17 14:03] renovate[bot] opened #802 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency ts-jest to v27.1.3
 - [ ] chore(deps): update dependency eslint to v8.7.0
 - [ ] chore(deps): update depen

[2022-02-12 03:11] qwave opened #832 "<Route> outside a <Router>"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Simples way is to Run any project in /examples/

**Expected behavior**
Getting error in console "Uncaught Error: Invariant failed: You should not use <Route> outside a <Router>"

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: chrome
 - Ver

[2022-02-12 14:44] darkmatter18 commented on #832
Hi, @qwave You may face the issue because auth-kit is not supporting react-router v6. I hope it will start support soon.

[2022-02-20 10:37] darkmatter18 commented on #832
Hi @qwave, Please check if v2 fixes your issue.

[2022-03-17 17:26] BoyPersoon opened #872 "Uncaught Error: useLocation() may be used only in the context of a <Router> component."
Unfortunately I am getting the following error in my App, when implementing the basic example from the docs.

The code below results in the following error:
[code]

code:

[code]

package.json
[code]

**Expected behavior**
This simple example should not result in the listed error

**Desktop (please complete the following information):**
 - Browser
 Chrome + Firefox

[2022-03-19 09:24] izaktan opened #873 "Uncaught RangeError: invalid date"
When the auth kit is dealing with the response, I got "Uncaught RangeError: invalid date". Does it require server to specifically return the expires attributes? Is there a way to use the Set-Cookies attribute in the response directly?

**Expected behavior**
No error

**Additional context**
In the console:
[code]

In the response:
`Set-Cookie: xxx_session=xxxx;  expires=Sun, 20-Mar-2022 09:03:48 GM

[2022-03-19 16:09] dgtlntv opened #876 "Local Storage is cleared on refresh if auth State is not set on signIn."
**Describe the bug**
I have the AuthProvider set to local storage. If I don't set authState on signIn (even though it should be optional) the local storage is cleared on page refresh and thus the user is being logged out.

**To Reproduce**
Have AuthProvider set to localstorage and dont set authState on signIn.

My AuthProvider:
[code]

My Login Hook:
[code]

[2022-03-22 12:35] darkmatter18 commented on #872
I'll check the issue and will let you know.

[2022-03-22 12:36] darkmatter18 commented on #873
Can you please send your login code snippet? It'll be helpful

[2022-03-22 12:37] darkmatter18 commented on #876
Let me check te issue, if I find anything I'll inform you.

[2022-04-03 06:37] izaktan commented on #873
I think this is where my problem is. I don't know how to get token and expiresIn since access to set-cookie header is blocked by browsers. So my question is is it expected for the server to return token and expireIn as data of the response even though these information already in header

[code]

[2022-04-03 09:55] izaktan commented on #873
To be more clear, I am currently using Laravel as my backend. However the document says that "You should not use API tokens to authenticate your own first-party SPA. Instead, use Sanctum's built-in [SPA authentication features](https://laravel.com/docs/9.x/sanctum#spa-authentication)." So I am a bit confused about what the **token** in the signIn component is supposed to be in my case now.

[2022-04-22 22:22] essalah commented on #873
same thing, any solution please

[2022-04-23 09:16] essalah commented on #873
Hi, in my case the problem is about the expiresIn field of the token, the backend server present it as milliseconds "timestamp",
for this reason we got this error with "invalid date" by React auth kit,
My solution here is convert the token expires date to minutes before assign it , see my example below:
`...
const getExpiresDateByMinutes = (timestampDate: number) => {
    const diff = timestampDat

[2022-04-26 15:50] darkmatter18 commented on #873
Great Answer by @essalah . `UseSignIn` `expiresIn` parameter expects a time in minutes.

[2022-04-27 06:11] boyboi86 opened #916 "Cannot update a component (`AuthProvider`) while rendering a different component (`RequireAuth`)."
**Describe the bug**

I am currently trying out react 18 & redux toolkit

So I have 3 files namely index.route, login.page & app.

Within the app file I placed "AuthProvider" as advice however because I have too many routes so I created another file call "index.route" where "RequiredAuth" resides.

Lastly my login & logout component are coming from "login.page" to "app.header" & "index.route"

**T

[2022-04-28 08:45] ramansaini-sp opened #917 "Error: useNavigate() may be used only in the context of a <Router> component."
My code is throwing this error when I use useNavigate() [React Router V6] Hook in my function component.

`Error: useNavigate() may be used only in the context of a <Router> component.

[2022-05-12 17:07] #873 closed

[2022-05-22 06:33] emrahaydemir commented on #916
same here. i installed your example project and im getting same error. https://codesandbox.io/s/winter-frog-idzrfm?file=/src/App.js

[2022-05-23 16:07] darkmatter18 commented on #916
@emrahaydemir Thanks for the Example. I'll surely look into this issue imediately

[2022-05-29 06:40] boyboi86 commented on #916
Dear @darkmatter18 @emrahaydemir  , apologies for the late reply. This is NOT A BUG.

After I tried testing a few times, this is how it should work out. If you cannot "signout" while you are still in secure route, it will give you the above error message. So what I did was i useNavigate("/") to  root directory then invoke signOut().

It works for me. No more error, cause no need to further render

[2022-05-29 06:40] #916 closed

[2022-06-04 01:30] #876 closed

[2022-06-08 07:33] izaktan commented on #872
I have the same problem

[2022-06-08 09:10] izaktan commented on #872
I am not wrapping that directly. There are additional layers. I got something like this:
[code]

[2022-06-08 10:05] izaktan commented on #872
So why? In the document it says `AuthProvider should wrap the BrowserRouter or HashRouter, otherwise PrivateRoute will not work and throw an error.`

[2022-06-17 08:02] faner11 commented on #876
I also encountered this problem

[2022-06-20 11:18] darkmatter18 commented on #876
@faner11 Can you explain the issue in detail, like when you are getting the issue?

[2022-06-21 18:32] aram0112 commented on #876
I figured out the issue in my case, the authentication flow in my application has the auth token put directly in the Authorization header, hence I was leaving the auth token type blank so that the useAuthHeader would not put anything in front of the token, however the initialLSToken function checks that Auth Type is not blank and otherwise does not populate the previous state. After putting a valu

[2022-06-22 02:46] faner11 commented on #876
@darkmatter18 The reason is found, I did not set the authState field

[2022-07-04 20:10] ubmarco commented on #876
First, thanks for this helpful library!
I have the same issue and I think the issue should not be in a closed state.
Setting `authState` to an arbitrary value makes page refresh persist the local storage. It is deleted otherwise.
Here are the docs:
![image](https://user-images.githubusercontent.com/839934/177212086-78ec2d25-5128-4a2b-b036-56acc2b1bbee.png)
It says `authState` is optional. Either t

[2022-07-12 01:11] Kyle-Gagnon-99 commented on #872
Hey! I was wondering if there was an update on this? I did try wrapping the ```BrowserRouter``` around ```AuthProvider``` but I get the following error:

```You cannot render a <Router> inside another <Router>. You should never have more than one in your app.```

Now I did pick up ReactJS within the last two weeks but I am not sure what is going on. Here is some code snippit from me:

[code]

[2022-07-25 18:33] Bartyee opened #1015 "Refresh token + call request again"
Hello
Sorry for writing question below "Bug report" but I can't find resolve in other sites referenced in here.
I want to refresh my token when app throwing 401 then call these 401 requests again. How I can do that? Do react-auth-kit support that?

[code]

[2022-08-02 11:43] prince272 opened #1021 "Feature: Using auth-kit.js without any react dependencies"
**Is your feature request related to a problem? Please describe.**
Have you considered adding auth-kit.js without any react dependencies so that it could be used on most platform.
I thing the three issues that may ender the approach of developing the auth-kit are:

1. State management
2. window.localstorage found in TokenObject
3. cookies found in TokenObject.js

**Describe the solution you'd like

[2022-08-02 11:50] prince272 commented on #1021
Also the strategy you used for the refreshing the take is great. It didn't internally rely on axios.

[2022-08-09 14:53] SamHoque opened #1023 "Warning: Cannot update a component (`AuthProvider`)"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Bug happens after using `signOut()`;

**Expected behavior**
No error to be shown in console.

**Desktop (please complete the following information):**
 - OS: Windows 11
 - Browser Chrome
 - Version Latest

[2022-08-11 07:21] chrisbekas opened #1025 "Uncaught TypeError: refresh.refreshApiCallback(...).then is not a function"
**Describe the bug**
The create-react-app-refresh-token example project shows

`Uncaught TypeError: refresh.refreshApiCallback(...).then is not a function `

Whenever the refreshApi function is invoked to refresh the token.

[2022-08-18 03:41] faner11 commented on #872
This problem occurs in react 17, and 18 is normal

[2022-09-06 15:01] darkmatter18 commented on #1015
@Bartyee As much as I understand, if any request to the backend server throws 401, then you want to call the refresh token, is it right?

[2022-09-06 15:06] darkmatter18 commented on #1021
Hey @prince272 , Thanks for appreciating the project this much, and sorry for being this late.
Your idea is awesome, it'll help a large no of communities.

But the problem with the current implementation is that it relies on React for state management. I don't have much clear idea of how to maintain the state without using React If you have any idea, let me know.

Let's start the discussion and le

[2022-09-13 19:33] DarkBitz opened #1058 "How to logout from all tabs immediately?"
How to logout from all tabs immediately?

[2022-09-14 09:45] say8425 commented on #1023
[code]

I have same bugs, when redirected by RequireAuth, then console warn this message

[code]

[2022-09-14 09:51] SamHoque commented on #1023
Hey, I was able to fix this bug, however I don't remember how I did it.

[2022-09-20 14:53] ukasyah99 commented on #1023
Here's a sandbox:

https://codesandbox.io/s/cocky-driscoll-82kqk0?file=/src/AppRoutes.js

The warning appears when visiting a page wrapped by RequireAuth.

[2022-09-29 09:44] nicolad opened #1069 "Use maybe docusaurus for docs"
There is no dark mode in current docs.
[Docusaurus](https://docusaurus.io/) already has dark mode integrated along with other features.
It's markdown-based, so it shouldn't be complicated to migrate.

[2022-09-30 04:15] darkmatter18 opened #1070 "Hacktoberfest 2022"
<p align="center">
<img width="576" alt="Hfest-Logo-2-Color-Manga@2x" src="https://user-images.githubusercontent.com/30409045/190916995-f911e151-6514-4701-b046-6746f574741b.png">
</p>

<p align="center">
    <i>
        <b> React Auth Kit </b> welcomes everyone in Hacktoberfest 2022 </br>
       We are participating in Hacktoberfest 2022.
    </i>
</p>

<p align="center">
Start your contributing j

[2022-09-30 04:15] darkmatter18 commented on #1069
@nicolad That's a great choice. We'll surely take that

[2022-09-30 04:26] darkmatter18 opened #1071 "Add a Markdown Linter for Documentations"
# Problem

- React Auth kit documentatons uses `Markdown`.
- Those documents are not linted as like `eslint` lints for the codebase.

# Solutions

- There are `Mackdownlint` that can lints the files.

# Your task

- Implement `Markdownlint` in React Auth Kit Codebase
- Use https://www.npmjs.com/package/markdownlint

[2022-09-30 04:31] darkmatter18 opened #1072 "Improve and add more issue templates"
# Problem

- The current issue templetes do not support all kinds of issues.

# Solution and Task

- Add the following type of `ISSUE TEMPLATES`
- Add them in `.github/ISSUE_TEMPLATE/` directory.

# Templates

1. Documentation Issue
2. Unexpected behaviors
3. Report a security vulnerability
4. How-To / All Other Questions

[2022-09-30 09:11] adi-uchiha commented on #1071
I want to work on this

[2022-09-30 09:12] adi-uchiha commented on #1072
I want to work on this issue. Please assign me

[2022-10-01 07:02] darkmatter18 commented on #1071
@adi-uchiha Go for it. Assigned you

[2022-10-01 07:03] darkmatter18 commented on #1072
@adi-uchiha Assigned you

[2022-10-01 12:10] adi-uchiha commented on #1071
Hey there, I checkout the npm package you mentioned. I do not understand how to use the linter. Can you please guide me little bit.
Do I have to install that package and lint each doc file and make sure that they follow the linting rule ?
I am completely new to this. :(

[2022-10-01 14:40] #1072 closed

[2022-10-01 18:23] adi-uchiha commented on #1069
Hey there, I want to work on this

- [ ] Migrate the docs to use https://docusaurus.io/
- [ ] Give a option for dark mode

[2022-10-01 18:28] 0xSooki commented on #1071
Haii, if it hasn't been resolved, I would love to do it, I have already used markdownlint previously

[2022-10-01 18:31] 0xSooki commented on #1069
Haii, I would love to work on this issue, if it's still up for grabs

[2022-10-01 19:01] adi-uchiha commented on #1069
This issue requires to initalise docusurus in a the _docs_ directory.
This directory will contain a seperate _package.json docusaurus.config.js_
https://docusaurus.io/docs/installation#project-structure
Should I proceed ?

[2022-10-02 02:50] darkmatter18 commented on #1069
@adi-uchiha Assigned you

[2022-10-02 05:58] nicolad commented on #1069
@adi-uchiha go for it

[2022-10-03 05:13] adi-uchiha commented on #1069
@darkmatter18 do I need to change the commit messages?

[2022-10-03 08:14] avmentzer opened #1076 "useAuthUser"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] This is bug in the application 🐛
- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository

**Describe the bug** \
I'm trying to get th

[2022-10-05 00:36] LeviJunior21 commented on #1070
hacktoberfest

[2022-10-05 00:37] LeviJunior21 commented on #1070
oi

[2022-10-06 14:34] darkmatter18 commented on #1069
@adi-uchiha Yes, we have to change

[2022-10-06 16:47] adi-uchiha commented on #1069
@darkmatter18 All good now I think

[2022-10-09 10:59] Omkar0803 commented on #1070
I would like to contribute

[2022-10-14 22:54] Netskill89 commented on #1023
Got the same issue here. Is there any solution yet ?

[2022-10-19 14:13] wahid-adapta commented on #473
I'm having this issue again in 2.5.0

[2022-10-29 16:20] #872 closed

[2022-11-20 03:05] D-Johnson89 commented on #1025
I'm having the same issue, and was wondering as I look through the documentation, I'm only seeing a way to set minute update intervals for the refreshApi. Can we set this up to update when invoked or set to time, depending on the needs of the application?

[2022-11-22 21:20] #1015 closed